* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

ul {
  background-color: rgba(255, 255, 255, 0.5);
  width: 250px;
  height: 150px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 100px;
  overflow-y: auto;
}

li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  &:last-child {
    padding-bottom: 0;
  }
}

button {
  border: none;
  background: inherit;
  color: #fff;
  border: 1.5px solid #fff;
  border-radius: 5px;
  margin-left: 10px;
}

.hidden {
  display: none;
}

img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  h2 {
    font-size: 5rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  input {
    appearance: none;
    border: none;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 1.125rem;
    &::placeholder {
      color: #fff;
    }
    &:focus {
      outline: none;
    }
  }
  #weather {
    margin-top: 20px;
  }
}
